[core]
	excludesFile = ~/.config/git/ignore
	
	editor = nvim
	#pager = delta
	pager = delta --detect-dark-light always --features="$(defaults read -globalDomain AppleInterfaceStyle &> /dev/null && echo tokyo-night-moon || echo tokyo-night-day)"

[interactive]q
	#diffFilter = delta --color-only --features=interactive
	#diffFilter = delta --color-only --features=interactive --detect-dark-light always
	diffFilter = delta --color-only --detect-dark-light always --features="$(defaults read -globalDomain AppleInterfaceStyle &> /dev/null && echo tokyo-night-moon || echo tokyo-night-day)"

[include]
    path = ~/.config/git/themes.gitconfig

[delta]
  true-color = always
  navigate = true  # use n and N to move between diff sections
  #light = false
  features = decorations side-by-side line-numbers

[alias]


[branch]
	sort = -committerdate

[color]
	diff = auto
	status = auto
	branch = auto

[commit]
	gpgsign = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process

[merge]
	conflictstyle = diff3
	ff = false

[diff]
	colorMoved = default

[pull]
	rebase = true

[push]
	followTags = true
	autoSetupRemote = true

[rerere]
	enabled = true

[user]
	name = Bohdan Pavlov 
	email = bohdan.pavlov.o@gmail.com
	signingkey = 0xAE0D6A60BDBBEA7F
	
[commit]
	gpgsign = true
[init]
	defaultBranch = main
[credential]
	helper = osxkeychain

